body{
    margin: 0;
    font-family: sans-serif;

}

.Navigationbar{
    display: flex;
    align-items: center;
    background-color: rgb(220, 29, 197);
    padding: 15px 40px;
    justify-content: space-around;
}

.Logo{
    font-size: 35px;
    font-weight: bold;

}

.Navigation-links{

    list-style: none;
    display:flex;
    gap: 20px;
}

.Navigation-links a{
    text-decoration-line: none;
    text-decoration: wavy;
    font-size: 20px;
    color: black;
}

.Navigation-links a:hover{
    color: blue;
}

.section{
    height: 80vh;
    text-align: center;
}

.About-Section p{
    font-size: 20px;
}
 .Work-Section p{
    font-size: 20px;
 }

 .KLA{
    list-style: none;


 }





.Footer-Section{
    background-color:rgb(220, 29, 197); 
    color: black;
    text-align: center;
    padding:15px 0px;
}